<form [formGroup]='form'>
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input 
          type="password" 
          id="oldPassword" 
          formControlName='oldPassword'
          class="form-control">
          <div 
            class="alert alert-danger"
            *ngIf='oldPassword?.touched && oldPassword?.invalid'>
            <div *ngIf='oldPassword?.errors?.required'>Old Password is required.</div>
            <div *ngIf='oldPassword?.errors?.checkOldPassword'>Old Password not mismatched.</div>
          </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input 
          type="password" 
          id="newPassword" 
          formControlName='newPassword'
          class="form-control">
          <div 
            class="alert alert-danger"
            *ngIf='newPassword?.touched && newPassword?.invalid'>
            <div *ngIf='newPassword?.errors?.required'>Old Password is required.</div>
          </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input 
          type="password" 
          id="confirmPassword"
          formControlName='confirmPassword' 
          class="form-control">
          <div 
            class="alert alert-danger"
            *ngIf='confirmPassword?.touched && confirmPassword?.invalid'>
            <div *ngIf='confirmPassword?.errors?.required'>Old Password is required.</div>
          </div>
          <div *ngIf='confirmPassword?.valid && form?.invalid && form?.errors?.checkPasswordMismatch'
            class="alert alert-danger">

          </div>
    </div><br>
    <div>
        <button class="btn btn-primary">Change Password</button>
    </div>
</form>